<% layout('layouts/boilerplate') %>

<style>

  footer{
  visibility: hidden;
}
  
</style>
<div class="container">
    <div style="display: flex; flex-direction:column; justify-content:center; align-items: center; margin-top:30px ">
        <% if(user.imageUrl == ''){ %>
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" style="border-radius: 50%; height: 200px; width:200px;">
      <% }else{ %>  
        <img src="<%= user.imageUrl %>" alt="" style="border-radius: 50%; height: 200px; width:200px;">

        <% } %>
        <h4>@<%= user.username %></h4>
        <p></p>
        <% if(currentUser && currentUser.id == user.id){ %>
          <a href="/profile/<%= user.id %>/editProfile">Edit Profile Picture</a>
        <% } %>
        <hr style="width:100%;margin-top:20px;">    
    </div>
    <% if(currentUser && currentUser.id == user.id){ %>
      <a style=" float:right" href="/profile/<%= user._id %>/addTrack" id="articleSubmit">New Post</a>
    <% } %>

    <div class="sample">
          <div id="waveform-data" data-waveforms="<%= JSON.stringify(tracks) %>"></div>
            <% for (let i = 0; i < tracks.length; i++){ %>
              
            <div style="margin-bottom: 50px; border: 1px solid #e6e6e6; border-radius:5px; padding: 20px 20px 20px 20px">
                             
              <div style="display:flex">
                <% if(user.imageUrl != ''){ %>
                  <img src="<%= user.imageUrl %>" alt="" style="border-radius: 50%; height: 50px; width:50px;">
                  <% }else{ %>  
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="" style="border-radius: 50%; height: 50px; width:50px;">
                    <% } %>                    <p>@<%= user.username %>  <sub style="padding-left: 20px;"><%= tracks[i].date.toLocaleDateString() %></sub></p>
                    <% if(currentUser && currentUser.id == user.id){ %>
                    <a style=" float:right; margin-left: auto;" href="/profile/<%= user.id %>/<%= tracks[i].id %>/editTrack" id="articleSubmit">Edit Post</a>
                    <form class='d-inline' method="POST" action="/profile/<%= user.id %>/<%= tracks[i]._id %>?_method=DELETE ">
                        <button class="deletebutton">
                          Delete Post
                        </button>
                    </form>
                    <% } %>
                </div>
                
                <p style="margin: 0 40px 0 40px;"> <%= tracks[i].description %></p>
                <div style="display: flex; align-items:center; margin-top:15px; margin-bottom: 30px">
                    <img style="  height: 50px;
                                width: 50px;
                                filter: grayscale(100%);
                                margin-right: 10px;
                                
                            "  id="play<%= i %>" src="/images/play.png">
                    <div id="waveform<%= i %>"></div>
                </div>
                <!-- <p><b>Track name:</b> <%= tracks[i].name %></p> -->  
            </div>
            <hr style="width:100%; background: #478ac9; height: 1px; margin-top:20px;">
            <% } %>
      </div>    
</div>

<script src="/scripts/profileWaveforms.js"></script>
  