<% layout('layouts/boilerplate') %>
<div>
    <a href="feedback/uploadTrack" id="articleSubmit" style="margin-right: 20px;">Upload Track For Feedback</a>
</div>
<div class="container">
    <div style="padding-top:80px; display: flex; flex-wrap:wrap; justify-content: center;">   
        <% for(let track of tracks){ %>
            <div class="articlePost" >
                <img src="<%= track.author.imageUrl %>" alt="" style="height: 120px; width:220px;">   
                    <h4><%= track.name %></h4> 
                    <p><a href="/profile/<%= track.author.id %>">By <%= track.author.username %></a></p>
                    <p><%= track.date.toLocaleDateString() %></p>
                    <% if(currentUser && currentUser.role == "Producer") {%>
                        <% if(!track.feedback){ %>
                            <div> 
                                <a style=" float:none; margin-bottom: 50px;" href="/feedback/new/<%= track.id %>" id="">Give feedback</a>
                            </div>
                        <% }else{ %>
                    <div> 
                        <a style=" float:none" href="/feedback/new/<%= track.id %>/edit" id="">Edit feedback</a>
                    </div>
                        <% } %>
                    <% } %>
                    <% if(track.feedback){ %>
                    <div>
                        <a style=" float:none" href="/feedback/details/<%= track.id %>" id="">Check feedback</a>
                    </div>
                    <% } %>               
                </div>
        <% } %>
</div>