<% layout('layouts/boilerplate') %>

<div class="container">
    
    <div class="sample">
      <form action="/samples" method="get">
                  <label class="form-label" for="type">Sample Type</label> 
        <div class="row">
             <div class="col-3">
              <select name="type" class="form-control">
                <option value="All">All</option>
                <option value="Drums">Drums</option>
                <option value="Synth">Synth</option>
                <option value="Vocal">Vocal</option>
                <option value="Instrument">Instrument</option>
                <option value="Other">Other</option>
              </select>
             </div>
             <div class="col">
              <button type="submit" class="btn">Filter</button>
             </div>
             <div class="col">
              <% if(currentUser){ %>
                <a href="/samples/new" id="articleSubmit">Add New Sample</a>
              <% } %>
             </div>         
        </div>
      </form>
      <br/>
      <br/>
      <table class="table" style="width: 100%">
        <tr>
          <th>Play</th>
          <th style="width: 150px;">Artist</th>
          <th style="width: 150px;">Name</th>
          <th style="width: 150px;">Type</th>
          <th>Sample</th>
          <th>Key</th>
          <th></th>
          <th></th>
        </tr>
        <div id="waveform-data" data-waveforms="<%= JSON.stringify(samples) %>"></div>
          <% for (let i = 0; i < samples.length; i++){ %>          
            <tr>             
              <td> 
                <img style="  height: 50px;
                width: 50px;
                filter: grayscale(100%);
              "  id="play<%= i %>" src="/images/play.png">
              </td>
              <td><a href="/profile/<%= samples[i].author._id %>"><%= samples[i].author.username %></a></td>
              <td><%= samples[i].name %></td>
              <td> <%= samples[i].type %></td>
              <script type="text/javascript" src="/scripts/waveform.js"></script>
              <td id="waveform<%= i %>"  name="waveform" ></td>
              <td>
                <%= samples[i].key %>
              </td>
              <td>
                <% if(currentUser){ %>
                <a style="border: none;" href="https://res.cloudinary.com/duivzmmgh/video/upload/fl_attachment/<%= samples[i].filename %>"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
              </svg> </a>
              <% } %>
              </td>
              
              <td>
                <% if(currentUser && currentUser.id == samples[i].author._id){ %>
                <form class='d-inline' method="POST" action="/samples/<%= samples[i]._id %>?_method=DELETE ">
                  <button class="noback">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                    </svg>
                  </button>       
                </form>
                <a href="/samples/<%= samples[i]._id %>/edit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
                </a>
                <% } %>
              </td>
            </tr>
          <% } %>
      </table>
    </div>
</div>

<script src="/scripts/sampleWaveform.js"></script>
